{% extends 'base.html' %}

{% block content %}
<section class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Tell me what shape you would like</h1>
        	<div class="form-label-group">
        		<input type="text" id="inputShape" class="form-control" placeholder="Choose a Shape" required autofocus>
        		<button class="btn btn-lg btn-secondary btn-block text-uppercase getShape" type="submit">Give me the Shape</button>
        	</div>
      </div>
    </div>
  </div>
</section>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}